<template>
  <div class="container">
    <div class="row d-flex justify-content-center p-3">
      <div class="col-12 mb-4">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 d-flex justify-content-center">
            <div
              style="background: url('https://s3-alpha-sig.figma.com/img/4868/c6fd/a5ea52463ffc15d7c193943934f7203c?Expires=1664755200&Signature=HfDoSMiVLFnEFQ1y1koNz8J2beB4WeL0XKffao-ZLiTvV7YjvMT86xuslBEEobM8qXqtOsCzw53jBpJu83oxPOjlBcnKucDVvWTaLPfy1742HdMP7c3wYthbcIBI3j79VGK09HfTW6xh1ArDH-hVXVcm7Y839Hz6xXjIV~5ZJb9dsA1xEem5deMdKv1oSmRLYlhtNQAhSa75Jm4s~5dDcMtTlW9pj0qjQCAagb3J514PDHREtnWTgTXEL8qNz71A0oPtnV6w5K3tfyOQE66X1B3ZFy2C7g1Y~Pik1iGGOM44~l62bVIbd2r8bCFtV0FVDbBIApWAd~IkOLmgotlcUw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'); min-height: 75px; background-size: contain;background-repeat: no-repeat; width: 525px"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-11 p-3" style="background-color: #FFFFFF">
        <div class="row d-flex justify-content-center media-container">
          <div class="col-lg-7 col-md-4 col-sm-12 my-1">
            <img
              class="display-image mb-4"
              src="https://s3-alpha-sig.figma.com/img/2983/484c/02f1f51da2aaae1b0f190e4b632adfa8?Expires=1664755200&Signature=UHxW-XZn4vEoiXmupXx~d2KCsmiF7yFaBP~eXuQ2LWeBXmrVOzftDGfbyG0tQff6Lp4QlHky-9FMDiYxt8PkCwi-vPdH3m7Y3v0L3nAtaIEKsvzbtgdgnbmDtk8PGBclK1gybe9XQajMr8I94jlsmU-CDvJFbnPjNgoV0xNCjFhp62UfAJGw48Gk1uQy6BxPk6sVRx3l~YA2t7pvnp4snh2p5R4erJhJ~FttcyBNo6DbC6dl4DP7aMtuR6ArDus~lSYCPWalEwG1gFdQUam12W3qKYonFoRVz4tcwN3j5JJd7UCratmYcVWmmnz92YaPVajbAzDNo1coZ9KsCC6MTQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            />
            <div class="w-100 text-center mb-4">
              <h5>happy</h5>
            </div>
            <div class="row d-flex justify-content-center mb-4">
              <div class="col-md-12 col-sm-10">
                <input type="text" class="orange-shadow" />
              </div>
            </div>
            <div class="row d-flex justify-content-center mb-4">
              <div class="col-md-6 col-sm-10">
                <button class="submit-button w-100">Let's see</button>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-4 col-sm-12 my-1">
            <div class="row" style="color: #ff6700">
              <div
                class="col-6 d-flex align-items-center left-thumb-container"
              >
                <i class="fa-solid fa-thumbs-up mx-2"></i>
                <span>4 / 20</span>
              </div>
              <div
                class="col-6 d-flex align-items-center right-thumb-container"
              >
                <i class="fa-solid fa-thumbs-down mx-2"></i>
                <span>4 / 20</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeView",
  created() {
    this.axios
      .get("http://127.0.0.1:8000/api/translations")
      .then((response) => {
        console.log(response.data);
      });
  },
};
</script>

<style scoped>
.display-image {
  width: 100%;
  border-radius: 10px;
}
.orange-shadow {
  box-shadow: 6px -6px 10px 0px #e7bea34d;
  box-shadow: -6px 6px 10px 0px #ff67004d;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.orange-shadow:focus-visible,
.orange-shadow:focus {
  border: 1px solid #ced4da !important;
  outline: none;
}
.submit-button {
  border-radius: 10px;
  background: #ff6700;
  border: none;
  min-height: 30px;
}
.left-thumb-container, .right-thumb-container {
  justify-content: center;
}
.media-container {
  flex-direction: column;
  align-items: center;
}
@media (max-width: 740px) {
  .media-container {
    flex-direction: column-reverse !important;
  }
  .left-thumb-container {
    justify-content: start !important;
  }
  .right-thumb-container {
    justify-content: end !important;
  }
}
</style>